@use "design-system/utils/mixins";

.pictureUploadButton {
  width: 20rem;
  height: 20rem;
  position: relative;
  .img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    box-shadow: var(--b-sdw_default);
  }

  .uploadLabel {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .iconButton {
    @include mixins.flex(center, center);
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    cursor: pointer;
    &:hover {
      box-shadow: var(--b-sdw_strong);
    }
    .icon {
      width: 2rem;
      height: 2rem;
    }
  }
}
