* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 62.5%; // reference default 16px to 10px
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h4,
dd {
  margin: 0;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

em {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block-start: 0;
  margin-block-end: 0;
}

ul,
dl {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

input,
button {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  font-family: inherit;
  &:focus {
    outline: none;
  }
}
button {
  cursor: pointer;
}

figure {
  margin: 0;
}
